
   html, body{
  
    font-family:Times New Roman;
    font-size: 12pt;
    line-height: 1.5;
    text-align: center;
    color:black;
    margin: 0 auto;
    padding:0;
    background-color:black;
    
  }
  @media only screen and (max-width: 600px) {
    html, body {
      background-color: lightblue;
    }}


  #main {
    position: relative; 
    max-width: 900px;
    margin: 0 auto;
    background-color:white;
    
     
  }
  @media(min-width:900px){
    #main{
      max-width:900px;
    }
  }
  
  #img-div{
    height:250px;
    max-width:900px;
    background-image: url("https://shortest.link/usT");
    background-attachment: fixed;
    display:block;
  }
  /*For mobile:*/


  @media (max-width: 480px) {
    #img-div {
          background-image: url("https://shortest.link/usT");
      }
  }
  /*For tablets:8?*/
  
  
  @media (min-width: 481px) and (max-width: 1024px) {
    #img-div {
          background-image: url("https://shortest.link/usT");
      }
  }
  /*For desktop devices:*/
  
  
  @media (min-width: 1025px) {
      #img-div {
        background-image: url("https://shortest.link/usT");
     }
  }
  #image{
  
    height:200px;
    width:200px;
    position: absolute;
    right: 40px;
    top: 25px;
    border:2px solid white;
    
  }

  #img-caption {
    color:white;
    text-align: center;
    padding-bottom: 10px;
    text-justify:inter-word;
    float:left;
    margin-left:150px;
  }
  
  #title {
    font-size: 2rem;
    margin-left:200px;
    padding-top:50px;
    text-align:left;
    color:white;   
}
  #tribute-info{
    height:700px;
    width:900px;
    background-color:#eee;
  }
#headline{
  text-align: center;
  padding-top: 30px;
}

#tribute-info{
text-align: justify;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}


blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

  #footer{
    clear:both;
    height:100px;
    width:900px;
    background-color: rgb(14, 14, 20);
  }
 
  
  

  
  
  